body {
    background-color: #1a1c1a;
    font-family: 'Courier New', Courier, monospace;
    color: azure;
}

h1 {
    text-align: center;
}

a {
    color: azure;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.content {
    background-color: #222422;
    width: 30vw;
    margin: 32px auto;
    padding: 32px;
}

.home {
    text-align: center;
}